<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/orderHistory.css">
</head>

<body>
    <!-- Topbar -->
    <%- include('components/topbar') %>

        <div class="layout">
            <!-- Sidebar -->
            <%- include('components/sidebar') %>

                <!-- Main Content -->
                <div class="main-content order-history-page">
                    <h1>Order History</h1>
                    <% if (orders && orders.length> 0) { %>
                        <% orders.forEach(order=> { %>
                            <div class="order">
                                <div class="order-info">
                                    Date: <%= order.order_date %> - <%= order.status %>
                                </div>
                                <div class="order-actions">
                                    <button class="button"
                                        onclick="deleteOrder('<%= order.order_id %>')">Delete</button>
                                    <button class="button" onclick="reorder('<%= order.order_id %>')">Re-order</button>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p class="no-orders">No orders available.</p>
                                    <% } %>
                </div>
        </div>

        <script>

            // Function to delete order by order id
            function deleteOrder(orderId) {
                fetch(`/api/orders/delete-order/${orderId}`, {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Order deleted:', data);
                        location.reload();
                    })
                    .catch(error => console.error('Error deleting order:', error));
            }

            // Function to add order items to cart and then redirect to the cart page

            function reorder(orderId) {

                fetch(`/cart/reorder/${orderId}`, {
                    method: 'POST'
                })
                    .then(() => {
                        // Redirect to the cart page after successful reorder
                        window.location.href = '/cart';
                    })
                    .catch(error => console.error('Error reordering:', error));
            }

        </script>
</body>

</html>